node_modules
npm-debug.log
.git
.gitignore
docker
bootstrap/cache/*
storage/logs/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.local
.env.*.local
.DS_Store
*.pem
*.ppk
.idea
.vscode
*.swp
*.swo
*~
.phpunit.result.cache
.env.*.php
